<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2014, Laboratory of Internet Computing (LInC), Department 
	of Computer Science, University of Cyprus For any information relevant to 
	JCatascopia Monitoring System, please contact Demetris Trihinas, trihinas{at}cs.ucy.ac.cy 
	Licensed under the Apache License, Version 2.0 (the "License"); you may not 
	use this file except in compliance with the License. You may obtain a copy 
	of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>WebProject</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>eu.celarcloud.jcatascopia.web.servletPack.ServletListener</listener-class>
	</listener>

	<context-param>
		<param-name>dbContainer</param-name>
		<param-value>Cassandra.DBInterface</param-value>
		<!--<param-value>MySQL.DBInterfaceWithConnPool</param-value> -->
	</context-param>
	<context-param>
		<param-name>hosts</param-name>
		<param-value>localhost</param-value>
		<!--<param-value>localhost:3306</param-value> -->
	</context-param>
	<context-param>
		<param-name>database</param-name>
		<param-value>JCatascopiaDB</param-value>
		<!--<param-value>catascopiaDB</param-value> -->
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>catascopia_user</param-value>
	</context-param>
	<context-param>
		<param-name>pass</param-name>
		<param-value>catascopia_pass</param-value>
	</context-param>

	<context-param>
		<param-name>serverIP</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>serverPort</param-name>
		<param-value>4245</param-value>
	</context-param>

	<context-param>
		<param-name>debug_mode</param-name>
		<param-value>false</param-value>
	</context-param>

	<servlet>
		<servlet-name>jersey-servlet-AgentsServer</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>eu.celarcloud.jcatascopia.api.agent</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet-AgentsServer</servlet-name>
		<url-pattern>/restAPI/agents/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jersey-servlet-MetricServer</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>eu.celarcloud.jcatascopia.api.metrics</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet-MetricServer</servlet-name>
		<url-pattern>/restAPI/metrics/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jersey-servlet-SubscriptionsServer</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>eu.celarcloud.jcatascopia.api.subscriptions</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet-SubscriptionsServer</servlet-name>
		<url-pattern>/restAPI/subscriptions/*</url-pattern>
	</servlet-mapping>
</web-app>
