@CHARSET "US-ASCII";
/* content wrapper */
.wrapper {
	width: 96%;
	clear: both;
	margin: auto;
}

/* columns */
.column {
	width: 50%;
	position: relative;
}

#left_col {
	float: left;
}

#right_col {
	float: right;
}

/* general content block */
.block {
	width: 95%;
	border: 1px solid black;
	margin-bottom: 10px;
	overflow: auto;
}

.header {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	background-color: blue;
	color: white;
	font-size: 17px;
	position: relative;
}

.content {
	height: 198px;
	overflow: auto;
	padding: 3px;
}

/* contains the graph */
.graphContainer {
	overflow: auto;
}

/* expand collapse span */
span.expand {
	position: absolute;
	left: 10px;
	font-size: 25px;
}

/* instance item */
.instance {
	width: 25%;
	margin-bottom: 5px;
	float: left;
	overflow: auto;
	cursor: pointer;
	border: 1px solid white;
}

/* links customization */
a:link span {
	color: black;
	text-decoration: none;
}

div.block a:link {
	color: black;
	text-decoration: none;
}

div.block a:visited {
	color: black;
	text-decoration: none;
}

div.block a:hover {
	color: black;
	text-decoration: none;
}

div.block a:active {
	color: black;
	text-decoration: none;
}