@CHARSET "US-ASCII";

#left_col {
	border-right: none;
}

#subscribedAgents,#unsubcribedAgents {
	max-height: 400px;
	overflow: auto;
}

#subscribedAgents {
	margin-bottom: 25px;
}

.agent {
	width: 98%;
	height: 30px;
	position: relative;
	border: 1px solid #222;
	margin: 2px 0px;
	background-color: #F5F5F5;
}

.agent .container {
	float: left;
	width: 80%;
	height: 30px;
	overflow: auto;
	border: none;
	margin-bottom: 0px;
}

.container div.label {
	/* float: left;  */
	margin-left: 8px;
	font-size: 20px;
	line-height: 30px;
	overflow: auto;
}

.agent div:nth-child(2) {
	font-size: 20px;
	position: absolute;
	right: 8px;
	/* background-color: white; */
	padding-left: 3px;
}

.agent div:nth-child(2) div {
	width: 13px;
	height: 13px;
	line-height: 11px;
	text-align: center;
	/* -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid black; */
	color: white;
	padding: 2px;
	margin-top: 7px;
	cursor: pointer;
}

.agent div.remove div {
	background-color: red;
}

.agent div.add div {
	background-color: green;
}