@CHARSET "US-ASCII";
/* status bar */
#statusbar {
	padding: 3px;
}

.fixed {
	position: fixed;
}

.active {
	display: block;
}

.st_sep {
	border-left: 1px solid #000;
}

/* columns */
footer {
	/* height: 500px; */
	/* margin-bottom: 30px; */
	
}

#left_col {
	width: 15%;
	float: left;
	/*background-color: blue;*/
	border-right: 1px #ddd solid;
	overflow: auto;
}

#right_col {
	width: 84%;
	float: right;
}

/* metric groups */
.group {
	margin-left: 5px;
	margin-bottom: 8px;
	font-size: 16px;
	width: 150px;
}

.group_title {
	text-decoration: underline;
	font-size: 20px;
}

.metric {
	
}

/* general container */
.container {
	width: 80%;
	margin: auto;
	margin-bottom: 8px;
	border: 1px solid black;
}

.header {
	width: 100%;
	height: 30px;
	background-color: blue;
	color: white;
	font-size: 17px;
	line-height: 30px;
	text-align: center;
	position: relative;
}

.wrapper {
	width: 100%;
	height: 300px;
	overflow: auto;
}

/* expand/collapse span */
span.expand {
	position: absolute;
	width: 40px;
	text-align: center;
	left: 3px;
	font-size: 35px;
	line-height: 30px;
}

/* static info container */
.infocontainer {
	width: 80%;
	height: 176px;
	margin: auto;
	margin-bottom: 8px;
	border: 1px solid black;
}

.infowrapper {
	width: 97%;
	height: 146px;
	overflow: auto;
}

.staticinfo_table {
	width: 760px;
	height: 146px;
}

.staticinfo {
	height: 36px;
	line-height: 36px;
	position: relative;
	width: 55%;
}

.staticinfo_label {
	font-weight: bold;
	font-size: 16px;
	line-height: 36px;
	/* position: absolute;
	left: 0px; */
}

.staticinfo_value {
	/*font-size: 16px;*/
	line-height: 36px;
	margin: 0px 5px;
	/*position: absolute;*/
	left: 150px;
	padding-right: 10px;
}