@CHARSET "US-ASCII";

body {
	width: 95%;
	margin: auto;
	font-size: 14px;
}

header {
	/* background-image: url(../img/cloud_header.png); */
	width: 100%;
	font-size: 50px;
	font-weight: bold;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	display: block;
	overflow: scroll;
}

header span {
	line-height: 100px;
	vertical-align: top;
	margin: auto;
	margin: 0px 10px;
}

footer {
	clear: both;
	width: 100%;
	font-style: italic;
	text-align: center;
	/* height: 50px; */
	/* line-height: 50px; */
	display: block;
	position: relative;
}

footer a:link,footer a:visited,footer a:hover,footer a:active {
	color: black;
	text-decoration: underline;
}

.sponsor_group {
	display: inline-block;
	margin: 5px 10px;
}

.sponsor {
	display: inline-block;
	margin: 5px;
}

.sponsor img {
	height: 40px;
}