@CHARSET "US-ASCII";

.block {
	width: 90%;
	margin: auto;
	/* padding: 10px; */
	margin-bottom: 14px;
	position: relative;
}

.header {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	background-color: blue;
	color: white;
	font-size: 17px;
	position: relative;
	z-index: 100;
}

.content {
	width: 98%;
	min-height: 100px;
	overflow: auto;
	margin: auto;
}

.hidden {
	display: none;
}
/* expand collapse span */
span.expand {
	font-size: 25px;
	position: absolute;
	left: 10px;
}

.shadow {
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.border {
	border: 1px solid black;
}

#overlay {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: none;
	vertical-align: middle;
	text-align: center;
}

#subList ul {
	list-style: none;
	padding: 0px 3px;
	min-height: 50px;
}

#subList ul li {
	height: 30px;
	font-size: 20px;
	/* line-height: 30px; */
	padding: 0px 8px;
	position: relative;
	vertical-align: middle;
}
/* #subList ul li:nth-child(2n) {
	background-color: #F5F5F5;
} */
#subList a:link {
	color: black;
}

#subList a:visited {
	color: black;
}

#subList a:hover {
	color: black;
}

#subList a:active {
	color: black;
}

.subName {
	padding: 0px 6px;
	vertical-align: middle
}

.hovered {
	background-color: #D9D9D9;
}

.hover_text {
	color: white;
	font-style: italic;
	font-size: 14px;
	vertical-align: middle;
}

input[type=checkbox] {
	width: 20px;
	margin: 0px;
	vertical-align: middle;
}

#createView {
	/* display: none; */
	
}

#createView table {
	/* width: 100%; */
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	/* display: none; */
	border-collapse: collapse;
	border-spacing: 0;
	overflow: auto;
}

#createView th {
	font-size: 16px;
	text-align: right;
	padding-right: 8px;
	padding: 4px;
	min-width: 140px;
}

#createView td {
	font-size: 13px;
	padding: 4px;
}

#metricRealType,#metricRealUnits {
	padding: 0px 9px;
	font-style: italic;
}

#createView input[type=text] {
	margin: 0px;
	font-size: 13px;
	border: 1px solid grey;
	padding: 4px;
}

#createView input[type=text].invalid {
	border: 1px solid red;
	background-image: url('../img/warning_small.png');
	background-repeat: no-repeat;
	background-position: center right;
}

#createView select {
	font-size: 13px;
	width: 180px;
	margin: 0px;
	border: 1px solid grey;
	border-radius: 0px;
	background-color: white;
}

#createView select#agents_select {
	height: 100px;
}

#createView select[option=selected] {
	background-color: blue;
}

#createView select.invalid {
	border: 1px solid red;
}

#createView input[type=submit] {
	font-size: 20px;
	width: 100px;
}